# Analysis on Score with Players and on More/Less 1.5 and 2.5 Goals

## Importing Libraries

In [3]:
import numpy as np
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## DB Connection

In [4]:
cnx = sqlite3.connect('../data/database.sqlite')

## Retrieve Match and Players DF

In [5]:
match_df = pd.read_sql_query("SELECT * from Match", cnx)

In [6]:
player_df = pd.read_sql_query("SELECT * from Player_Attributes", cnx)

## Analyse and Clean DF

In [7]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Columns: 115 entries, id to BSA
dtypes: float64(96), int64(9), object(10)
memory usage: 22.8+ MB

In [8]:
match_df.iloc[:, :50].columns

Index(['id', 'country_id', 'league_id', 'season', 'stage', 'date',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'home_player_X1', 'home_player_X2',
       'home_player_X3', 'home_player_X4', 'home_player_X5', 'home_player_X6',
       'home_player_X7', 'home_player_X8', 'home_player_X9', 'home_player_X10',
       'home_player_X11', 'away_player_X1', 'away_player_X2', 'away_player_X3',
       'away_player_X4', 'away_player_X5', 'away_player_X6', 'away_player_X7',
       'away_player_X8', 'away_player_X9', 'away_player_X10',
       'away_player_X11', 'home_player_Y1', 'home_player_Y2', 'home_player_Y3',
       'home_player_Y4', 'home_player_Y5', 'home_player_Y6', 'home_player_Y7',
       'home_player_Y8', 'home_player_Y9', 'home_player_Y10',
       'home_player_Y11', 'away_player_Y1', 'away_player_Y2', 'away_player_Y3',
       'away_player_Y4', 'away_player_Y5', 'away_player_Y6'],
      dtype='object')

In [9]:
match_df.iloc[:, 51:].columns

Index(['away_player_Y8', 'away_player_Y9', 'away_player_Y10',
       'away_player_Y11', 'home_player_1', 'home_player_2', 'home_player_3',
       'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7',
       'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11',
       'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4',
       'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8',
       'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton',
       'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession',
       'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA',
       'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD',
       'BSA'],
      dtype='object')

In [10]:
match_df = match_df[['id', 'country_id', 'league_id', 'season', 'stage', 'date',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'home_player_1', 'home_player_2', 'home_player_3',
       'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7',
       'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11',
       'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4',
       'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8',
       'away_player_9', 'away_player_10', 'away_player_11']]

In [11]:
match_df

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,...,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,...,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,...,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,...,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,...,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0

In [12]:
#Define function to add the number of goals column
def number_goals(s1, s2):
    return s1+s2

In [13]:
match_df["nb_goals"] = pd.Series(dtype="int64")
match_df["nb_goals"] = match_df[["home_team_goal", "away_team_goal"]].apply(lambda x: number_goals(match_df["home_team_goal"], match_df["away_team_goal"]))

In [14]:
## Add the score column base on the home_team_goal and away_team_goal
match_df["score"] = pd.Series(dtype="int64")

for ix, row in match_df.iterrows():
    if row["home_team_goal"] > row["away_team_goal"]:
        match_df.loc[ix, "score"] = 0 ## O is home victory
    elif row["home_team_goal"] < row["away_team_goal"]:
        match_df.loc[ix, "score"] = 2 ## 2 is away victory
    else:
        match_df.loc[ix, "score"] = 1 ## 1 is a draw

In [15]:
match_df[["home_team_goal", "away_team_goal", "nb_goals", "score"]].head()

   home_team_goal  away_team_goal  nb_goals  score
0               1               1         2    1.0
1               0               0         0    1.0
2               0               3         3    2.0
3               5               0         5    0.0
4               1               3         4    2.0

In [16]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 35 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                25979 non-null  int64
 1   country_id        25979 non-null  int64
 2   league_id         25979 non-null  int64
 3   season            25979 non-null  object
 4   stage             25979 non-null  int64
 5   date              25979 non-null  object
 6   match_api_id      25979 non-null  int64
 7   home_team_api_id  25979 non-null  int64
 8   away_team_api_id  25979 non-null  int64
 9   home_team_goal    25979 non-null  int64
 10  away_team_goal    25979 non-null  int64
 11  home_player_1     24755 non-null  float64
 12  home_player_2     24664 non-null  float64
 13  home_player_3     24698 non-null  float64
 14  home_player_4     24656 non-null  float64
 15  home_player_5     24663 non-null  float64
 16  home_player_6     24654 non-null  float64
 17  home_player_7     24752 non-null  float64
 18  home_player_8     24670 non-null  float64
 19  home_player_9     24706 non-null  float64
 20  home_player_10    24543 non-null  float64
 21  home_player_11    24424 non-null  float64
 22  away_player_1     24745 non-null  float64
 23  away_player_2     24701 non-null  float64
 24  away_player_3     24686 non-null  float64
 25  away_player_4     24658 non-null  float64
 26  away_player_5     24644 non-null  float64
 27  away_player_6     24666 non-null  float64
 28  away_player_7     24744 non-null  float64
 29  away_player_8     24638 non-null  float64
 30  away_player_9     24651 non-null  float64
 31  away_player_10    24538 non-null  float64
 32  away_player_11    24425 non-null  float64
 33  nb_goals          25979 non-null  int64
 34  score             25979 non-null  float64
dtypes: float64(23), int64(10), object(2)
memory usage: 6.9+ MB

In [17]:
for i in range (1,12):
    match_df = match_df[match_df["home_player_"+str(i)].notna()]
    match_df = match_df[match_df["away_player_"+str(i)].notna()]

In [18]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21374 entries, 145 to 25978
Data columns (total 35 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                21374 non-null  int64
 1   country_id        21374 non-null  int64
 2   league_id         21374 non-null  int64
 3   season            21374 non-null  object
 4   stage             21374 non-null  int64
 5   date              21374 non-null  object
 6   match_api_id      21374 non-null  int64
 7   home_team_api_id  21374 non-null  int64
 8   away_team_api_id  21374 non-null  int64
 9   home_team_goal    21374 non-null  int64
 10  away_team_goal    21374 non-null  int64
 11  home_player_1     21374 non-null  float64
 12  home_player_2     21374 non-null  float64
 13  home_player_3     21374 non-null  float64
 14  home_player_4     21374 non-null  float64
 15  home_player_5     21374 non-null  float64
 16  home_player_6     21374 non-null  float64
 17  home_player_7     21374 non-null  float64
 18  home_player_8     21374 non-null  float64
 19  home_player_9     21374 non-null  float64
 20  home_player_10    21374 non-null  float64
 21  home_player_11    21374 non-null  float64
 22  away_player_1     21374 non-null  float64
 23  away_player_2     21374 non-null  float64
 24  away_player_3     21374 non-null  float64
 25  away_player_4     21374 non-null  float64
 26  away_player_5     21374 non-null  float64
 27  away_player_6     21374 non-null  float64
 28  away_player_7     21374 non-null  float64
 29  away_player_8     21374 non-null  float64
 30  away_player_9     21374 non-null  float64
 31  away_player_10    21374 non-null  float64
 32  away_player_11    21374 non-null  float64
 33  nb_goals          21374 non-null  int64
 34  score             21374 non-null  float64
dtypes: float64(23), int64(10), object(2)
memory usage: 5.9+ MB

In [19]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183978 entries, 0 to 183977
Data columns (total 42 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   183978 non-null  int64
 1   player_fifa_api_id   183978 non-null  int64
 2   player_api_id        183978 non-null  int64
 3   date                 183978 non-null  object
 4   overall_rating       183142 non-null  float64
 5   potential            183142 non-null  float64
 6   preferred_foot       183142 non-null  object
 7   attacking_work_rate  180748 non-null  object
 8   defensive_work_rate  183142 non-null  object
 9   crossing             183142 non-null  float64
 10  finishing            183142 non-null  float64
 11  heading_accuracy     183142 non-null  float64
 12  short_passing        183142 non-null  float64
 13  volleys              181265 non-null  float64
 14  dribbling            183142 non-null  float64
 15  curve                181265 non-null  float64
 16  free_kick_accuracy   183142 non-null  float64
 17  long_passing         183142 non-null  float64
 18  ball_control         183142 non-null  float64
 19  acceleration         183142 non-null  float64
 20  sprint_speed         183142 non-null  float64
 21  agility              181265 non-null  float64
 22  reactions            183142 non-null  float64
 23  balance              181265 non-null  float64
 24  shot_power           183142 non-null  float64
 25  jumping              181265 non-null  float64
 26  stamina              183142 non-null  float64
 27  strength             183142 non-null  float64
 28  long_shots           183142 non-null  float64
 29  aggression           183142 non-null  float64
 30  interceptions        183142 non-null  float64
 31  positioning          183142 non-null  float64
 32  vision               181265 non-null  float64
 33  penalties            183142 non-null  float64
 34  marking              183142 non-null  float64
 35  standing_tackle      183142 non-null  float64
 36  sliding_tackle       181265 non-null  float64
 37  gk_diving            183142 non-null  float64
 38  gk_handling          183142 non-null  float64
 39  gk_kicking           183142 non-null  float64
 40  gk_positioning       183142 non-null  float64
 41  gk_reflexes          183142 non-null  float64
dtypes: float64(35), int64(3), object(4)
memory usage: 59.0+ MB

In [20]:
## Define function to return the overall rating of each player on the peach

def players_rating(s):
    if player_df[player_df["player_api_id"] == s].empty:
        return 0
    return int(player_df[player_df["player_api_id"] == s]["overall_rating"])

In [29]:
player_df = player_df.sort_values(by=["date", "overall_rating"], ascending=False).drop_duplicates("player_api_id")

In [30]:
player_df = player_df.sort_values(by="overall_rating", ascending=False)

In [49]:
for i in range(1,12):
    match_df["home_player_"+str(i)] = match_df["home_player_"+str(i)].apply(lambda s: int(s))
    match_df["away_player_"+str(i)] = match_df["away_player_"+str(i)].apply(lambda s: int(s))

In [50]:
## Adding Column home/away_player_rate_n

for i in range(1,12):
    match_df["home_player_rate"+str(i)] = match_df["home_player_"+str(i)].apply(players_rating) 
for i in range(1,12):
    match_df["away_player_rate"+str(i)] = match_df["away_player_"+str(i)].apply(players_rating)

In [56]:
## Change dtype of score's column

match_df["score"] = match_df["score"].astype('int64')