# FIFA Players attirbutes analysis

## Immort Libraries

In [1]:
import numpy as np
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Connect to DB

In [21]:
cnx = sqlite3.connect('../data/database.sqlite')

## Load Fifa Players table

In [45]:
players_attr_df = pd.read_sql_query("SELECT * from Player_Attributes", cnx)
players_df = pd.read_sql_query("SELECT * from Player INNER JOIN Player_Attributes where Player.player_api_id = Player_Attributes.player_api_id",cnx)

In [47]:
players_df

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id,player_fifa_api_id,player_api_id,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,3,218353,505942,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,4,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,5,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176,183974,102359,39902,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176,183975,102359,39902,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176,183976,102359,39902,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176,183977,102359,39902,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176,183978,102359,39902,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

In [10]:
test_player = pd.read_sql_query("SELECT * from Player", cnx)
test_player

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [13]:
players_attr_df

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,183974,102359,39902,2009-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,183975,102359,39902,2009-02-22 00:00:00,78.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,183976,102359,39902,2008-08-30 00:00:00,77.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,183977,102359,39902,2007-08-30 00:00:00,78.0,81.0,right,medium,low,74.0,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,183978,102359,39902,2007-02-22 00:00:00,80.0,81.0,right,medium,low,74.0,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

In [14]:
players_attr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183978 entries, 0 to 183977
Data columns (total 42 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   183978 non-null  int64
 1   player_fifa_api_id   183978 non-null  int64
 2   player_api_id        183978 non-null  int64
 3   date                 183978 non-null  object
 4   overall_rating       183142 non-null  float64
 5   potential            183142 non-null  float64
 6   preferred_foot       183142 non-null  object
 7   attacking_work_rate  180748 non-null  object
 8   defensive_work_rate  183142 non-null  object
 9   crossing             183142 non-null  float64
 10  finishing            183142 non-null  float64
 11  heading_accuracy     183142 non-null  float64
 12  short_passing        183142 non-null  float64
 13  volleys              181265 non-null  float64
 14  dribbling            183142 non-null  float64
 15  curve                181265 non-null  float64
 16  free_kick_accuracy   183142 non-null  float64
 17  long_passing         183142 non-null  float64
 18  ball_control         183142 non-null  float64
 19  acceleration         183142 non-null  float64
 20  sprint_speed         183142 non-null  float64
 21  agility              181265 non-null  float64
 22  reactions            183142 non-null  float64
 23  balance              181265 non-null  float64
 24  shot_power           183142 non-null  float64
 25  jumping              181265 non-null  float64
 26  stamina              183142 non-null  float64
 27  strength             183142 non-null  float64
 28  long_shots           183142 non-null  float64
 29  aggression           183142 non-null  float64
 30  interceptions        183142 non-null  float64
 31  positioning          183142 non-null  float64
 32  vision               181265 non-null  float64
 33  penalties            183142 non-null  float64
 34  marking              183142 non-null  float64
 35  standing_tackle      183142 non-null  float64
 36  sliding_tackle       181265 non-null  float64
 37  gk_diving            183142 non-null  float64
 38  gk_handling          183142 non-null  float64
 39  gk_kicking           183142 non-null  float64
 40  gk_positioning       183142 non-null  float64
 41  gk_reflexes          183142 non-null  float64
dtypes: float64(35), int64(3), object(4)
memory usage: 59.0+ MB

In [16]:
players_attr_df["date"] = pd.to_datetime(players_attr_df["date"])

In [26]:
players_attr_df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [40]:
players_attr_df[players_attr_df["date"] >= "2016-01-01"]["player_api_id"].value_counts()

278343    14
692984    13
495841    11
26349     11
38441     11
          ..
522765     1
422412     1
305132     1
32845      1
37532      1
Name: player_api_id, Length: 5586, dtype: int64

In [42]:
players_attr_df[players_attr_df["player_fifa_api_id"] == 20801]

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
33330,33331,20801,30893,2015-10-16,93.0,93.0,right,high,low,82.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33331,33332,20801,30893,2015-09-25,93.0,93.0,right,high,low,82.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33332,33333,20801,30893,2015-09-21,93.0,93.0,right,high,low,82.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33333,33334,20801,30893,2015-05-15,92.0,92.0,right,high,low,83.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33334,33335,20801,30893,2015-04-17,92.0,92.0,right,high,low,83.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33335,33336,20801,30893,2014-10-31,92.0,92.0,right,high,low,83.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33336,33337,20801,30893,2014-09-18,92.0,92.0,right,high,low,83.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33337,33338,20801,30893,2014-02-07,92.0,92.0,right,high,low,83.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33338,33339,20801,30893,2014-01-17,92.0,95.0,right,high,low,83.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33339,33340,20801,30893,2013-09-20,92.0,95.0,right,high,low,83.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33340,33341,20801,30893,2013-03-22,92.0,95.0,right,high,low,83.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33341,33342,20801,30893,2013-03-08,92.0,95.0,right,high,low,83.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33342,33343,20801,30893,2013-03-01,92.0,94.0,right,high,low,84.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33343,33344,20801,30893,2013-02-15,92.0,94.0,right,high,low,84.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33344,33345,20801,30893,2012-08-31,92.0,94.0,right,high,low,84.0,...,80.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33345,33346,20801,30893,2012-02-22,92.0,94.0,right,high,low,84.0,...,81.0,91.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33346,33347,20801,30893,2011-08-30,92.0,94.0,right,high,low,84.0,...,81.0,87.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33347,33348,20801,30893,2011-02-22,89.0,93.0,right,high,low,84.0,...,81.0,84.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33348,33349,20801,30893,2010-08-30,89.0,94.0,right,high,low,84.0,...,80.0,82.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
33349,33350,20801,30893,2010-02-22,89.0,93.0,right,high,low,84.0,...,80.0,86.0,22.0,31.0,23.0,9.0,21.0,71.0,21.0,21.0
33350,33351,20801,30893,2009-08-30,89.0,94.0,right,high,low,86.0,...,80.0,86.0,22.0,31.0,23.0,9.0,21.0,71.0,21.0,21.0
33351,33352,20801,30893,2009-02-22,90.0,94.0,right,high,low,89.0,...,80.0,78.0,22.0,31.0,23.0,9.0,21.0,71.0,21.0,21.0
33352,33353,20801,30893,2008-08-30,91.0,94.0,right,high,low,89.0,...,80.0,78.0,27.0,35.0,23.0,9.0,21.0,72.0,21.0,21.0
33353,33354,20801,30893,2007-08-30,91.0,94.0,right,high,low,88.0,...,80.0,79.0,27.0,27.0,23.0,9.0,21.0,73.0,21.0,21.0
33354,33355,20801,30893,2007-02-22,87.0,92.0,right,high,low,80.0,...,80.0,64.0,15.0,27.0,23.0,9.0,10.0,68.0,8.0,5.0

In [43]:
test_player[test_player["player_fifa_api_id"] == 20801]

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
1992,1995,30893,Cristiano Ronaldo,20801,1985-02-05 00:00:00,185.42,176

In [48]:
player_2020 = pd.read_csv("../data/players_20.csv")

In [100]:
player_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18278 entries, 0 to 18277
Columns: 104 entries, sofifa_id to rb
dtypes: float64(16), int64(45), object(43)
memory usage: 14.5+ MB

In [96]:
player_2020.shape

(18278, 104)

In [95]:
player_2020[player_2020["long_name"].str.contains("Olivier")]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
296,178509,https://sofifa.com/player/178509/olivier-girou...,O. Giroud,Olivier Giroud,32,1986-09-30,193,92,France,Chelsea,...,55+3,59+3,59+3,59+3,55+3,52+3,57+3,57+3,57+3,52+3
2739,218745,https://sofifa.com/player/218745/olivier-ntcha...,O. Ntcham,Jules Olivier Ntcham,23,1996-02-09,180,81,France,Celtic,...,70+2,71+2,71+2,71+2,70+2,69+2,67+2,67+2,67+2,69+2
3000,165232,https://sofifa.com/player/165232/olivier-veign...,O. Veigneau,Olivier Veigneau,33,1985-07-16,176,70,France,Kasimpaşa SK,...,72+2,72+2,72+2,72+2,72+2,72+2,72+2,72+2,72+2,72+2
3926,208277,https://sofifa.com/player/208277/olivier-bouma...,O. Boumal,Olivier Junior Boumal,29,1989-09-17,183,67,Cameroon,Cameroon,...,61+2,57+2,57+2,57+2,61+2,58+2,51+2,51+2,51+2,58+2
4129,225863,https://sofifa.com/player/225863/olivier-bosca...,O. Boscagli,Olivier Boscagli,21,1997-11-18,181,68,France,PSV,...,70+2,69+2,69+2,69+2,70+2,69+2,70+2,70+2,70+2,69+2
4420,49161,https://sofifa.com/player/49161/olivier-descha...,O. Deschacht,Olivier Deschacht,38,1981-02-16,183,81,Belgium,SV Zulte-Waregem,...,64+2,68+2,68+2,68+2,64+2,64+2,69+2,69+2,69+2,64+2
4840,220175,https://sofifa.com/player/220175/olivier-kemen...,O. Kemen,Olivier Kemen,22,1996-07-20,177,76,France,Chamois Niortais Football Club,...,68+2,69+2,69+2,69+2,68+2,68+2,68+2,68+2,68+2,68+2
9067,238475,https://sofifa.com/player/238475/olivier-verdo...,O. Verdon,Olivier Verdon,23,1995-10-05,190,85,Benin,Deportivo Alavés,...,55+2,57+2,57+2,57+2,55+2,57+2,64+2,64+2,64+2,57+2
10685,152603,https://sofifa.com/player/152603/olivier-occea...,O. Occéan,Olivier Occéan,37,1981-10-23,185,86,Canada,Mjøndalen IF,...,48+2,48+2,48+2,48+2,48+2,46+2,51+2,51+2,51+2,46+2
11335,218887,https://sofifa.com/player/218887/olivier-custo...,O. Custodio,Olivier Custodio Da Costa,24,1995-02-10,179,76,Switzerland,FC Lugano,...,62+2,63+2,63+2,63+2,62+2,61+2,59+2,59+2,59+2,61+2
12490,232754,https://sofifa.com/player/232754/thomas-olivie...,T. Amang,Thomas Olivier Amang,21,1998-02-09,174,78,Cameroon,Kristiansund BK,...,50+2,47+2,47+2,47+2,50+2,49+2,48+2,48+2,48+2,49+2
14175,243235,https://sofifa.com/player/243235/olivier-mbaiz...,O. Mbaizo,Olivier Mbaissidara Mbaizo,21,1997-08-15,178,70,Cameroon,Philadelphia Union,...,60+2,56+2,56+2,56+2,60+2,60+2,58+2,58+2,58+2,60+2
15988,246184,https://sofifa.com/player/246184/marc-olivier-...,M. Doue,Marc Olivier Doue,18,2000-10-11,180,75,France,PEC Zwolle,...,49+2,48+2,48+2,48+2,49+2,52+2,57+2,57+2,57+2,52+2
15994,247771,https://sofifa.com/player/247771/olivier-deman...,O. Deman,Olivier Deman,19,2000-04-06,180,70,Belgium,KSV Cercle Brugge,...,45+2,42+2,42+2,42+2,45+2,42+2,35+2,35+2,35+2,42+2

In [93]:
player_2020.iloc[:, :15].sort_values(by=["overall"], ascending=False)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,94,95500000,565000,"RW, CF, ST"
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,93,58500000,405000,"ST, LW"
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,"LW, CAM"
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,93,77500000,125000,GK
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18250,238550,https://sofifa.com/player/238550/rowan-roache/...,R. Roache,Rowan Roache,19,2000-02-09,178,74,Republic of Ireland,Blackpool,48,65,60000,1000,ST
18251,245408,https://sofifa.com/player/245408/george-sykes-...,G. Sykes-Kenworthy,George Sykes-Kenworthy,19,1999-10-01,182,78,England,Bradford City,48,65,50000,1000,GK
18252,248851,https://sofifa.com/player/248851/asim-aksungur...,A. Aksungur,Asim Aksungur,18,2000-10-08,175,72,Turkey,Denizlispor,48,65,60000,1000,CM
18253,250739,https://sofifa.com/player/250739/nathan-morley...,N. Morley,Nathan Morley,18,2000-09-12,178,60,England,Burton Albion,48,65,60000,1000,CB
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,51,40000,2000,CM

In [52]:
test_player[test_player["player_fifa_api_id"] == 183277]

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
2835,2838,107417,Eden Hazard,183277,1991-01-07 00:00:00,172.72,163

In [72]:
player_2020["overall"]

0        94
1        93
2        92
3        91
4        91
         ..
18273    48
18274    48
18275    48
18276    48
18277    48
Name: overall, Length: 18278, dtype: int64

In [86]:
player_2020[['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob',
       'height_cm', 'weight_kg', 'nationality', 'club', 'overall', 'potential',
       'value_eur', 'wage_eur', 'player_positions', 'preferred_foot',
       'international_reputation']].sort_values("overall", ascending=False).head(10)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,preferred_foot,international_reputation
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,94,95500000,565000,"RW, CF, ST",Left,5
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,93,58500000,405000,"ST, LW",Right,5
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,"LW, CAM",Right,5
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,93,77500000,125000,GK,Right,3
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",Right,4
5,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City,91,91,90000000,370000,"CAM, CM",Right,4
6,192448,https://sofifa.com/player/192448/marc-andre-te...,M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,90,93,67500000,250000,GK,Right,3
7,203376,https://sofifa.com/player/203376/virgil-van-di...,V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool,90,91,78000000,200000,CB,Right,3
8,177003,https://sofifa.com/player/177003/luka-modric/2...,L. Modrić,Luka Modrić,33,1985-09-09,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,Right,4
9,209331,https://sofifa.com/player/209331/mohamed-salah...,M. Salah,Mohamed Salah Ghaly,27,1992-06-15,175,71,Egypt,Liverpool,90,90,80500000,240000,"RW, ST",Left,3

In [92]:
player_2020[player_2020["long_name"].str.contains("Evra")]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
3464,227939,https://sofifa.com/player/227939/jean-evrard-k...,J. Kouassi,Jean Evrard Kouassi,24,1994-09-25,174,67,Ivory Coast,Wuhan Zall,...,50+2,43+2,43+2,43+2,50+2,47+2,38+2,38+2,38+2,47+2

In [98]:
player_2020[player_2020["sofifa_id"] == 197937]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
4591,197937,https://sofifa.com/player/197937/papy-djilobod...,P. Djilobodji,Papiss Mison Djilobodji,30,1988-12-01,193,82,Senegal,Gazişehir Gaziantep F.K.,...,59+2,66+2,66+2,66+2,59+2,62+2,70+2,70+2,70+2,62+2

Empty DataFrame
Columns: [sofifa_id, player_url, short_name, long_name, age, dob, height_cm, weight_kg, nationality, club, overall, potential, value_eur, wage_eur, player_positions, preferred_foot, international_reputation, weak_foot, skill_moves, work_rate, body_type, real_face, release_clause_eur, player_tags, team_position, team_jersey_number, loaned_from, joined, contract_valid_until, nation_position, nation_jersey_number, pace, shooting, passing, dribbling, defending, physic, gk_diving, gk_handling, gk_kicking, gk_reflexes, gk_speed, gk_positioning, player_traits, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, skill_dribbling, skill_curve, skill_fk_accuracy, skill_long_passing, skill_ball_control, movement_acceleration, movement_sprint_speed, movement_agility, movement_reactions, movement_balance, power_shot_power, power_jumping, power_stamina, power_strength, power_long_shots, mentality_aggression, mentality_interceptions, mentality_positioning, mentality_vision, mentality_penalties, mentality_composure, defending_marking, defending_standing_tackle, defending_sliding_tackle, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, ...]
Index: []

[0 rows x 104 columns]